[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ak-vendor = {path = ".", extras = ["dev"], editable = true}

[packages]
ak-vendor = {path = ".", editable = true}
