doctype 5
html(lang="en")
  head
    style(type='text/css').
      section {
        page-break-before: always
       }
  body
    section.first-page
      | First Page
    section.toc
      | TOC
    section.summary
      | SUMMARY
      section.details
        | DETAILS
      section.audit
        | AUDIT
      section.rating
        | RATING
      section.findings
        | FINDINGS
    | {% for analysis in file.analyses.all %}
    section.analysis
      | {{analysis.vulnerability.name}}
      section.description
        | DESCRIPTION
      section.assessment
        | ASSESMENT
      section.non-compliant
        | NON COMP
      section.compliant
        | COMP
      section.implications
        | IMPL
      section.related
        | RELATED
    | {% endfor %}
